<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="/static/images/logo1.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/Style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InvoicelyKE</title>
</head>
<body>
<!--start of navigation bar-->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <div>
                <a href="#" class="navbar-brand d-flex">
                    <img src="/static/images/logo1.png" alt="Logo" width="55" height="50" class="d-inline-block align-text-top">
                     <h2><strong class="header">InvoicelyKE</strong></h2>
                </a>
            </div>


<!--          hamburger menu-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pricing">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item mb-3">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="#" role="button">Get Started</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

<!--End of navigation bar-->

<!--Hero section-->
    <section class="text-dark p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1 class="hrm-text">Automate Your Invoices. Get Paid Faster with <strong style="color: #52b34b">M<img src="/static/images/icons8-mpesa-48.png" alt="M-pesa Icon">PESA</strong></h1>
                    <p class="lead my-4">Streamline financial operations for your SME with effortless invoicing, automated payment tracking, and real-time M-Pesa integration. Focus on growth, not paperwork</p>
                    <button type="button" class="btn btn-info my-2">Create Your First Invoice</button>
                    <button type="button" class="btn btn-outline-info my-2">See How It Works</button>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block img-thumbnail mx-2" src="/static/images/invoice.jpeg" alt="">
            </div>
        </div>
    </section>

<!--Card Overview Features-->
    <section class=" p-5 mt-3 mb-3 bg-info bg-opacity-75 rounded">
        <div class="container py-5">
            <h1 class="text-center hrm-text">
                Unlock Business Efficiency With Core Features
            </h1>
            <p class="lead text-center pt-3">Experience powerful tools designed to simplify your financial workflows and accelerate growth.</p>
        </div>
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-body text-dark">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                            <i class="bi bi-receipt text-success text-opacity-50"></i>
                            </div>
                            <h4 class="card-title mb-3">
                                Smart Invoicing
                            </h4>
                            <p class="card-text">
                                Generate professional invoices in minutes, customize templates, and automate recurring bills.
                            </p>
                            <a href="#" class="btn btn-outline-info">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                     <div class="card bg-body text-dark">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="/static/images/icons8-mpesa-48.png" alt="M-pesa Icon">
                            </div>
                            <h4 class="card-title mb-3">
                                M-PESA Integration
                            </h4>
                            <p class="card-text">
                                Instant payments via M-Pesa STK Push or QR codes and automatic payment confirmations.
                            </p>
                            <a href="#" class="btn btn-outline-info">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                     <div class="card bg-body text-dark">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-grid-1x2-fill text-success text-opacity-50"></i>
                            </div>
                            <h4 class="card-title mb-3">
                                Dashboard Insights
                            </h4>
                            <p class="card-text">
                                Gain real-time visibility into your cash flow, overdue, and get real-time insights into your business finances
                            </p>
                            <a href="#" class="btn btn-outline-info">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                     <div class="card bg-body text-dark">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people-fill text-success text-opacity-50" ></i>
                            </div>
                            <h4 class="card-title mb-3">
                                Client Management
                            </h4>
                            <p class="card-text">
                                Store & manage customer records. Track payment history & outstanding balances per client
                            </p>
                            <a href="#" class="btn btn-outline-info">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container p-5 mt-3 mb-3 bg-light bg-opacity-75 rounded">
        <div class="container py-5">
            <h1 class="hrm-text text-center">
                How InvoicelyKE Works
            </h1>
            <p class="lead text-center pt-3">
                Simple steps to streamline your invoicing and get paid faster than ever before.
            </p>
        </div>
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-receipt text-info"></i>
                            </div>
                            <h3 class="card-title mb-3">Create Your Invoice</h3>
                            <p class="card-text">
                                Quickly generate professional invoices using intuitive templates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-link-45deg text-info"></i>
                            </div>
                            <h3 class="card-title mb-3">Send Payment Link</h3>
                            <p class="card-text">
                                Share secure payment links via email and text message.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="h1 mb-3 text-info">
                                <i class="bi bi-credit-card-fill"></i>
                            </div>
                            <h3 class="card-title mb-3">Get Paid & Track</h3>
                            <p class="card-text">
                                Receive payments instantly and automatically track all transactions.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

<!--Testimonial client section-->
    <section class="container p-5 mt-3 bg-body-secondary bg-opacity-25">
        <div class="container py-5">
            <h1 class="hrm-text text-center text-black">What Our Clients Say</h1>
            <p class="lead text-center text-black">Hear directly from SMEs and Service providers who transformed their payment processes with InvoicelyKE. </p>
        </div>
         <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="mb-3 text-start text-warning">
                                <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
                            </div>
                            <p class="card-text text-start">
                                "InvoicelyKE transformed our payment cycle. We now get paid 50% faster than ever before, giving us crucial cash flow for expansion."
                            </p>
                            <div class="d-sm-flex container-fluid text-start">
                                <img src="/static/images/profile%203.jpg" class="rounded-circle" alt="" width="70" height="70">
                                <div class="mx-3">
                                    <h3>Martha S.</h3>
                                    <p>Swift Logistics</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="mb-3 text-start text-warning">
                                <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
                            </div>
                            <p class="card-text text-start">
                                "The M-PESA integration is a game changer. Our clients love the convenience, and we love the automated tracking."
                            </p>
                            <div class="d-sm-flex container-fluid text-start">
                                <img src="/static/images/profile1%20pic.jpeg" class="rounded-circle" alt="" width="70" height="70">
                                <div class="mx-3">
                                    <h3>Brian R.</h3>
                                    <p>Ken-Technologies </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card">
                        <div class="card-body text-center">
                            <div class="mb-3 text-start text-warning">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i>
                            </div>
                            <p class="card-text text-start">
                                "Dashboard insights help us make smarter financial decisions. It's truly all-in-one solution for our growing business."
                            </p>
                            <div class="d-sm-flex container-fluid text-start">
                                <img src="/static/images/profile%202%20pic.jpeg" class="rounded-circle" alt="" width="70" height="70">
                                <div class="mx-3">
                                    <h3>Soilan M.</h3>
                                    <p>Watamu Enterprice</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

<!--Call To Action-->
    <div class="mt-4 mb-4 bg-info d-sm-flex justify-content-center align-items-center p-5">
        <h1><strong class="text-white cta">Ready to simplify your business payments?</strong></h1>
        <button type="button" class="btn btn-light mx-3 btn-lg">Sign Up Free</button>
    </div>

<!--footer section-->
    <section class="mt-5 pt-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div>
                        <div>
                           <div class="d-sm-flex">
                               <img src="/static/images/logo1.png" class="bg-light rounded-circle" alt="invoice kenya" width="70" height="70" class="rounded-2">
                               <h1 class="logo-footer mx-2"><span>InvoicelyKE</span></h1>
                           </div>
                            <p class="pt-3 lead p-footer">Your trusted partner for effortless invoicing and faster payments.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                            <h5>Product</h5>
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <a href="">Features</a>
                                </li>
                                <li class="mb-2">
                                   <a href="">Pricing</a>
                                </li>
                                <li class="mb-2">
                                    <a href="">How it Works</a>
                                </li>
                                <li class="mb-2">
                                    <a href="">Testimonial</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <div>
                            <h5>Company</h5>
                            <div class="list-group">
                                <a href="">About Us</a>
                                <a href="">Contact</a>
                                <a href="">Career</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <div>
                            <h5>Resources</h5>
                            <div class="list-group">
                                <a href="">Support</a>
                                <a href="">M-PESA API integration</a>
                                <a href="FAQ"></a>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div>
                        <div>
                            <h5>Connect With Us</h5>
                            <div class="h3">
                                <i class="bi bi-twitter-x"></i>
                                <i class="bi bi-linkedin text-primary"></i>
                                <i class="bi bi-instagram text-danger"></i>
                                <i class="bi bi-facebook"></i>
                                <i class="bi bi-tiktok"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>